@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

body {
  background: linear-gradient(236.85deg, #008080
  27.26%, #00CED1);
  font-family: "Roboto", sans-serif;
  

}

.AfiliadosTB{
  
   margin: 10px auto;
}

.Escop{
  background: #B0E0E6;
  borde-radius: 25px;
  box-shadow: 6px 6px 10px #0f0;
  

}

.OutraC .Escop {
  background: #00CED1;
  color: #f6f6f6;
  box-shadow: 6px 6px 10px #00f;
}

.Tema{
  display: flex;
  justify-content: flex-end;
}

.Tema button {
  align-self: flex-end;
  
  font-size: 25px;
  font-weight: 410;
  padding: 6px 10px 6px;
  margin: 0px 20px 20px;
  background: #B0C4DE;
  
  box-shadow: 6px 6px 6px #000;
  color: #000;
  border-radius: 105px;
  border: 4px solid #000;
}

.Btn button {
  background: #E6E6FA;
  border-radius: 105px;
  box-shadow: 6px 6px 6px #000;
  align-self: center;
  
  color: red;
  font-size:18px;
  font-weight: 300;
  border: 4px solid #000;
}
.OutraC .Btn button {
  background: #BC8F8F;
  
  box-shadow: 6px 6px 10px #8FBC8F;
  color: #fff;
}

.Assist {
  display: flex;
  justify-content: flex-end;
}

.Assist a {
  list-syle-type: none;
  text-decoration: none;
  align-self: flex-end;
  
  font-size: 25px;
  font-weight: 410;
  padding: 6px 10px 6px;
  margin: 0px 20px 20px;
  background: #B0C4DE;
  
  box-shadow: 6px 6px 6px #000;
  color: #000;
  border-radius: 105px;
  border: 4px solid #000;
}
.OutraC .Assist a {
  background: #2F4F4F;
  box-shadow: 6px 6px 6px #8FBC8F;
  border: 4px solid #8FBC8F;
  
  color: #fff;
}

.OutraC .Tema button {
  background: #2F4F4F;
  color: #fff;
  
  border: 4px solid #8FBC8F;
  box-shadow: 6px 6px 10px #8FBC8F;
}

.OutraC {
  background: linear-gradient(236.85deg, #2F4F4F 27.26%, #008080 91.03%);
}

.OutraC .loadingio-spinner-double-ring-wnjjkbzll4 {
  background: #00CED1;
  }

h1 {
  color: #1E90FF;
  
  text-align: center;
  font-size: 70px; 
  margin: 0px 0px 30px;
}
.OutraC h1 {
  color: #6959CD;
}

h2 {
  background: #6495ED;
  font-size: 30px;
  
  display: flex;
  justify-content: center;
}

h3 {}

h4 {
  color:#008b8b;
  font-size: 35px;
  margin: 25px;
  }

.NomeEp {
  background: #FFC0CB;
  font-size: 25px;
}
.OutraC .NomeEp {
  background: #8FBC8F;
  color: #fff;
}
.Compra {
  list-syle-type: none;
  text-decoration: none;
  
  font-size: 25px;
  color: #000;
  
  background: #E6E6FA;
  box-shadow: 6px 6px 7px #32CD32;
  
  display: flex;
  justify-content: center;
}

.OutraC .Compra {
  color: #fff;
  
  background: #BC8F8F;
  box-shadow: 6px 6px 7px #8FBC8F;
}

.SobreN {
  font-size: 20px;
}
.Produtosss {
  display: flex;
  justify-content: flex-end;
  background: #0f0;
  border: 4px solid #4f4f4f;
}

.BigB {
  background: #7FFFD4;
  
  display: flex;
  justify-content: space-around;
  }

.OutraC .BigB {
  background: #008080;
}

.SmallB {}

.OutraC .Categ h2 {
  background: #00008B;
}

.Produto {
  background: #f00;
  text-align: center;
  height: 125px;
  
  display: flex;
  justify-content: center;
  align-items: center;
 }

#Sobre {
  display: none;
}


/* Começa do Loading */



@keyframes ldio-ddhx1hmu93w {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}

/* de fora dentro */
.ldio-ddhx1hmu93w div { box-sizing: border-box!important }
.ldio-ddhx1hmu93w > div {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border: 20px solid #000;
  border-color: #87ceeb transparent #87ceeb transparent;
  animation: ldio-ddhx1hmu93w 4s linear infinite;
}

.ldio-ddhx1hmu93w > div:nth-child(2), .ldio-ddhx1hmu93w > div:nth-child(4) {
  width: 116px;
  height: 116px;
  top: 42px;
  left: 42px;
  animation: ldio-ddhx1hmu93w 4s linear infinite reverse;
}

/* de dentro dentro */
.ldio-ddhx1hmu93w > div:nth-child(2) {
  border-color: transparent #4682b4 transparent #4682b4
}

.ldio-ddhx1hmu93w > div:nth-child(3) { border-color: transparent }

.ldio-ddhx1hmu93w > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

/* 4 bolinhas de fora */
.ldio-ddhx1hmu93w > div:nth-child(3) div:before, .ldio-ddhx1hmu93w > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -20px;
  left: 50px;
  background: #87ceeb;
  border-radius: 50%;
  box-shadow: 0 140px 0 0 #87ceeb;
}

.ldio-ddhx1hmu93w > div:nth-child(3) div:after {
  left: -20px;
  top: 50px;
  box-shadow: 140px 0 0 0 #87ceeb;
}

.ldio-ddhx1hmu93w > div:nth-child(4) { border-color: transparent; }


.ldio-ddhx1hmu93w > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

/* 4 bolinhas de dentro */
.ldio-ddhx1hmu93w > div:nth-child(4) div:before, .ldio-ddhx1hmu93w > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -20px;
  left: 28px;
  background: #4682b4;
  border-radius: 50%;
  box-shadow: 0 96px 0 0 #4682b4;
}

.ldio-ddhx1hmu93w > div:nth-child(4) div:after {
  left: -20px;
  top: 28px;
  box-shadow: 96px 0 0 0 #4682b4;
}

/* background fundo */
.loadingio-spinner-double-ring-wnjjkbzll4 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #B0E0E6;
  
  margin: 20px;
}

.ldio-ddhx1hmu93w {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-ddhx1hmu93w div { box-sizing: content-box; }


#SB {
display: none;
}

#SC {
display: none;
}

#SD {
display: none;
}

#SE {
display: none;
}

#SF {
display: none;
}

#SG {
display: none;
}

#SH {
display: none;
}

#SI {
display: none;
}

#SJ {
display: none;
}

#SK {
display: none;
}

#SL {
display: none;
}

#SM {
display: none;
}

#SN {
display: none;
}

#SO {
display: none;
}

#SP {
display: none;
}

#SQ {
display: none;
}

#SR {
display: none;
}

#SS {
display: none;
}

#ST {
display: none;
}

#SU {
display: none;
}

#SV {
display: none;
}

#SW {
display: none;
}

#SX {
display: none;
}

#SY {
display: none;
}

#SZ {
display: none;
}

#SAA {
display: none;
}

#SAB {
display: none;
}

#SAC {
display: none;
}

#SAD {
display: none;
}

#SAE {
display: none;
}

#SAF {
display: none;
}

#SAG {
display: none;
}
